---
const { name, email, phone, nextPaymentDay, rutina } = Astro.props;
---

<div>
    <h1>{name}</h1>
    <h2>{email}</h2>
    <h3>{phone}</h3>
    <h4>{nextPaymentDay}</h4>
    <h4>{rutina}</h4>
</div>