---
const { actividad } = Astro.props;
const { nombre, horarios, descripcion } = actividad;
---

{
<div class="flex flex-col items-center justify-center gap-4 p-4 border-2 border-gray-200 rounded-lg bg-white shadow-sm shadow-gray-950">
    <h3 class="text-xl font-bold">{nombre}</h3>
    <h4 class="text-lg font-bold">{descripcion}</h4>
    <span class="text-sm font-bold">Horarios:</span>
        {
            horarios.map((horario) => (
                <div class="">
                    <span class="text-sm font-bold">{horario.dia}</span>
                    <span class="">
                        {horario.horaInicio} - {horario.horaFin}
                    </span>
                </div>
            ))
        }
</div>
}
